.hero-list {
  padding-right: 50px;
  border-right: 1px solid #8b8686;
}
.hero-list__item {
  padding: 5px;
  border-bottom: 1px solid #8b8686;
}

.hero-list__item:first-child {
  border-top: 1px solid #8b8686;
}
